body {
	padding-left: 50px;
}

h1 {
	font-family: sans-serif;
}

#container {
	position: relative;
	height: 650px;
}

#cube-container {
	cursor: default;
}

#moves {
	position: absolute;
	bottom: 0;
}

#moves img {
	height: 100px;
	width:  100px;
	cursor: pointer;
}