body {
	padding-left: 50px;
}

h1, h2 {
	font-family: sans-serif;
}

#container {
	position: relative;
	height: 700px;
}

#cube-container {
	cursor: default;
}

#moves {
	position: absolute;
	bottom: 0;
	display: table;
}
#controls {
	position: absolute;
	top: 0;
	left: 800px;
	display: table;
}
.row {
	display: table-row;
}

img {
	height: 100px;
	width:  100px;
	cursor: pointer;
}

footer {
	margin-top: 150px;
}