<head>
  <title>Cube Fight!</title>
</head>

<template name="main">
  <h1>Welcome to Fight Cube!</h1>

  <main>
    {{> Template.dynamic template=content }}
  </main>

  <footer><a target="_blank" href="https://github.com/donnietron/cube-fight">To Github</a></footer>	
</template>

<template name="cubeList">
	<h2>Please choose a cube</h2>
	{{#if Template.subscriptionsReady}}
		{{#each cube in cubes}}
		<div>
			<a href="/cube/{{cube._id}}"><img src="images/RESET.jpg" />{{cube.name}}</a>
		</div>
		{{/each}}
		<div class="new-room">
			<input placeholder="Name" /><button>Add New Room</button>
		</div>
	{{else}}
		<div>Loading...</div>
	{{/if}}
</template>

<template name="room">
  <div id="container">
	{{ cubex.name}}
	{{> cube}}
	{{> controls}}
	{{> moves}}
  </div>
</template>

<template name="moves">
	<section id="moves">
		{{#each d in directionsList}}
		<div class="row">
			{{#each m in movesList}}
			<img title="Twist {{m}} Slice Right" src="/images/{{m}}.jpg" idx="{{m}}{{d}}"/>
		  	{{/each}}
		</div>		
	  	{{/each}}
	</section>
</template>

<template name="controls">
	<section id="controls">
		<div class="row">
			<img title="Solve" src="/images/RESET.jpg" class="reset"/>
		</div>
		<div class="row">
			<a href="/">HOME</a>
		</div>
	</section>
</template>

<template name="cube">
	<section id="rubik">
		<div id="cube-container">
		    <div id="cube-viewport">
		        <div id="cube">
				{{#if Template.subscriptionsReady}}
					{{#each cubie in cubies}}
						<div class='{{cubie.className}}'>
							<div class="{{cubie.color}}">
								<span>{{cubie.faceName}}</span>
							</div>
						</div>
					{{/each}}
				{{/if}}
		        </div>
		    </div>
		</div>  
	</section>
</template>